<div class="Created_TAF_Items_Form">
  <table>
    <thead>
      <tr>
        <th> ID </th>
        <th> Expense Type </th>
        <th> Amount </th>
        <th> Was Approved? </th>
        <th> Rejection Reason </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @taf.taf_items.each do |taf_item| %>
      <tr>
        <td> <%= taf_item.id %></li>
        <td> <%= taf_item.expense_type %> </td> 
        <td> <%= number_to_currency(taf_item.estimated_amount) %> </td>
        <td> <%= taf_item.ba_approval ? "true" : "false" %> </td>
        <td> <%= taf_item.ba_reason %> </td>
      </tr>
    <% end %>
  </table>
</div>

<%= simple_form_for(@taf) do |f| %>
  <%= f.error_notification %>
  <br><br>
  <% if current_account.accountable_type=="Payment Manager"%>
    <div class="form-inputs">
      <%= f.input :pm_approval %>
      <%= f.input :pm_reason %>
    </div>
    <br><br>
   <% else %>
  
  <% end %>

  <h3>Items</h3>
  <% if current_account.accountable_type=="Employee" %>
  <table class='table'>
    <thead>
      <tr>
        <th> Request Type </th>
        <th> Expense Date </th>
        <th> Amount </th>
        <th> Department </th>

        <th></th>
      </tr>
    </thead>

    <% elsif current_account.accountable_type=="Budget Approver" %>
      <table class='table'>
      <thead>
        <tr>
          <th> Was Approved? </th>
          <th> Rejection Reason </th>
    <% else %>
      <table class='table'>
        <thead>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>

<%= simple_form_for(@taf_item) do |form| %>
  <% if @taf_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taf_item.errors.count, "error") %> prohibited this taf_item from being saved:</h2>
      <ul>
        <% @taf_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :expense_type %>
    <%= form.select :expense_type, ['Travel','Taxi','Lodging','Food','Other'] %>
  </div>

  <div class="field">
    <%= form.label :expense_date %>
    <%= form.date_select :expense_date %>
  </div>

  <div class="field">
    <%= form.label :estimated_amount %>
    <%= form.text_field :estimated_amount %>
  </div>

  <div class="field">
    <%= form.label :dept %>
    <%= form.select :dept, ['QA', 'RnD','DnD']%>
  </div>

  <div class="field">
    <%= form.label :request_reason %>
    <%= form.text_area :request_reason, rows: 10, cols: 60 %>
  </div>

  <% if current_account.accountable_type=="BudgetApprover"%>
    <div class="field">
      <%= form.label :ba_approval %>
      <%= form.check_box :ba_approval %>
    </div>

    <div class="field">
      <%= form.label :ba_reason %>
      <%= form.text_area :ba_reason, id: :ba_reason, rows: 10, cols: 60 %>
    </div>
  <% else %>
  <% end %>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>