<%= form_with(model: taf, local: true) do |form| %>
  <% if taf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taf.errors.count, "error") %> prohibited this taf from being saved:</h2>

      <ul>
      <% taf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="Created_TAF_Items_Form">
            <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Expense Type </th>
                    <th> Amount </th>
                    <th> Was Approved? </th>
                    <th> Rejection Reason </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <% @taf.taf_line_items.each do |taf_line_item| %>
                <tr>
                    <td><%= taf_line_item.taf_item.id %></li>
                    <td> <%= taf_line_item.taf_item.expense_type %> </td> 
                    <td> <%= number_to_currency(taf_line_item.taf_item.estimated_amount) %> </td>
                    <td> <%= taf_line_item.taf_item.ba_approval ? "true" : "false" %> </td>
                    <td> <%= taf_line_item.taf_item.ba_reason %> </td>
                
                </tr>
                
                <li style="display:none"><%=@taf.quantity+=1%></li>
                <li style="display:none"><%=@taf.total_estimated_amount+=taf_line_item.taf_item.estimated_amount%></li>
                <% end %>
        </table>
            
        <%=@taf.quantity%> | <%=number_to_currency(@taf.total_estimated_amount)%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
