<tr class="nested-taf_item">
    <td>
        <%= link_to_remove_association "remove item", f, class: 'btn btn-primary btn-xs' %>
    </td>
    <td><%= f.input :expense_type %></td>
    <td><%= f.input :estimated_amount %></td>
    <td><%= f.input :dept %></td>
    <td><%= f.input :ba_approval, :as => :boolean %></td>
    <td><%= f.input :ba_reason %></td>
</tr>