<div>
<h1>Taf Items</h1>
<h3>Department: <%= @dpt.name%> </h3>
<h3>Department Funds: <%= number_to_currency(@dpt.available_funds) %></h3>
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Request reason</th>
      <th>Expense date</th>
      <th>Estimated amount</th>
      <th>Dept</th>
      <th>Ba approval</th>
      <th>Was approved</th>
      <th>Ba reason</th>
    </tr>
  </thead>

  <tbody>
    <% @taf_items.each do |taf_item| %>
      <tr class="loop">
        <td><%= taf_item.request_reason %></td>
        <td><%= taf_item.expense_date %></td>
        <td><%= number_to_currency(taf_item.estimated_amount) %></td>
        <td><%= taf_item.dept %></td>
        <% if current_account.accountable_type=="Employee" %>
          <td><%= taf_item.ba_approval %></td>
          <td><%= taf_item.ba_reason %></td>
          <td><%= link_to 'Show', taf_item %></td>
          <td><%= link_to 'Edit', edit_taf_item_path(taf_item) %></td>
          <td><%= link_to 'Destroy', taf_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif current_account.accountable_type=="BudgetApprover" %>
          <%= form_with(model: taf_item, local: true) do |form| %>
                              <td> <%= form.check_box :ba_approval %></td>
                              <td><%= taf_item.ba_approval %></td>
                              <td> <%= form.text_field :ba_reason %> </td>
                              <td> <%= form.submit 'update taf item'%> </td>
          <% end %>
        <% else %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taf Item', new_taf_item_path %>
