<p id="notice"><%= notice %></p>

<h1>Taf Items</h1>

<table>
  <thead>
    <tr>
      <th>Request reason</th>
      <th>Expense date</th>
      <th>Estimated amount</th>
      <th>Dept</th>
      <th>Ba approval</th>
      <th>Ba reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taf_items.each do |taf_item| %>
      <tr class="loop">
        <td><%= taf_item.request_reason %></td>
        <td><%= taf_item.expense_date %></td>
        <td><%= number_to_currency(taf_item.estimated_amount) %></td>
        <td><%= taf_item.dept %></td>
        <td><%= taf_item.ba_approval %></td>
        <td><%= taf_item.ba_reason %></td>
        <% if current_account.accountable_type=="Employee" %>
          <td><%= link_to 'Show', taf_item %></td>
          <td><%= link_to 'Edit', edit_taf_item_path(taf_item) %></td>
          <td><%= link_to 'Destroy', taf_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taf Item', new_taf_item_path %>
