<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>
<h2>Your Pragmatic Expense Report</h2>

<% if current_account.accountable_type=="Employee" %> <!-- Employee -->
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> Expense Type </th>
                <th> Amount </th>
                <th> Image URL </th>
                <th> Was Approved? </th>
                <th> Rejection Reason </th>
            </tr>
        </thead>
        <% @cart.items.each do |item| %>
            <tr>
                <td> <%= item.id %> </td> 
                <td> <%= item.expense_type %> </td> 
                <td> <%= number_to_currency(item.item.amount) %> </td>
                <td> <%= item.image_url %> </td>
                <td> <%= item.ba_approval ? "true" : "false" %> </td>
                <td> <%= item.ba_reason %> </td>
            </tr>
            <li style="display:none"><%=@cart.quantity+=1%></li>
            <li style="display:none"><%=@cart.total_expense+=item.item.amount%></li>
        <% end %>
    </table>

    <%=@cart.quantity%> | <%=number_to_currency(@cart.total_expense)%>

<% elsif current_account.accountable_type=="BudgetApprover" %> <!-- BUDGET APPROVER -->
    <div class="Funds" style="align-right">
        <table>
            <thead>
                <th>Department ID</th>
                <th>Department Name</th>
                <th>Actual Funds</th>
                <th>Available Funds</th>
            </thead>
            <% @departments.each do |dept| %>
                    <tr>
                        <td> <%= dept.id %> </td>
                        <td> <%= dept.name %> </td>
                        <td> <%= number_to_currency(dept.available_funds) %> </td>
                        <td> <%= number_to_currency(dept.actual_funds) %> </td>
                    </tr>
            <% end %>
        </table>
    </div>
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> Expense Type </th>
                <th> Amount </th>
                <th> Image URL </th>
                <th> Was Approved? </th>
                <th> Rejection Reason </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <% @cart.items.each do |item| %>
            <tr>
                <td> <%= item.id %> </td> 
                <td> <%= item.expense_type %> </td> 
                <td> <%= number_to_currency(item.amount) %> </td>
                <td> <%= item.image_url %> </td>
                <td> <%= item.ba_approval ? "true" : "false" %> </td>
                <td> <%= item.ba_reason %> </td>
                <td> <%= button_to 'Accept', { :controller => "items",
                                        :action => "decision",
                                        :id => item.id,
                                        :decision => "true"}, method: 'post', class: "btn btn-success" %>
                </td>
                <td> <%= button_to 'Reject', { :controller => "items",
                                        :action => "decision",
                                        :id => item.id,
                                        :decision => "false"}, method: 'post', class: "btn btn-danger" %>
                </td>
            </tr>
            <li style="display:none"><%=@cart.quantity+=1%></li>
            <li style="display:none"><%=@cart.total_expense+=item.amount%></li>
        <% end %>
    </table>

    <%=@cart.quantity%> | <%=number_to_currency(@cart.total_expense)%>

<% elsif current_account.accountable_type=="PaymentManager" %> <!-- Payment Manager -->
    <div class="pm_top_div">
        <div class="pm_funds_div">
            <table>
                <thead>
                    <th>Department ID</th>
                    <th>Department Name</th>
                    <th>Actual Funds</th>
                    <th>Available Funds</th>
                </thead>
                <% @departments.each do |dept| %>
                        <tr>
                            <td> <%= dept.id %> </td>
                            <td> <%= dept.name %> </td>
                            <td> <%= number_to_currency(dept.available_funds) %> </td>
                            <td> <%= number_to_currency(dept.actual_funds) %> </td>
                        </tr>
                <% end %>
            </table>
        </div>
        <div class="pm_accept_div">
            <td> <%= button_to 'Accept', { :controller => "carts",
                                        :action => "decision",
                                        :id => @cart.id,
                                        :decision => "true"}, method: 'post', class: "btn btn-success" %>
            </td>
            <td> <%= button_to 'Reject', { :controller => "carts",
                                        :action => "decision",
                                        :id => @cart.id,
                                        :decision => "false"}, method: 'post', class: "btn btn-danger" %>
            </td>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> Expense Type </th>
                <th> Amount </th>
                <th> Image URL </th>
                <th> Was Approved? </th>
                <th> Rejection Reason </th>
            </tr>
        </thead>
        <% @cart.items.each do |item| %>
            <tr>
                <td> <%= item.id %> </td> 
                <td> <%= item.expense_type %> </td> 
                <td> <%= number_to_currency(item.amount) %> </td>
                <td> <%= item.image_url %> </td>
                <td> <%= item.ba_approval ? "true" : "false" %> </td>
                <td> <%= item.ba_reason %> </td>
            </tr>
            <li style="display:none"><%=@cart.quantity+=1%></li>
            <li style="display:none"><%=@cart.total_expense+=item.amount%></li>
        <% end %>
    </table>

    <%=@cart.quantity%> | <%=number_to_currency(@cart.total_expense)%>

<% else %> <!-- SUPER ACCOUNT -->

<% end %>


