<p id="notice"><%= notice %></p>

<h1>Taf Line Items</h1>

<table>
  <thead>
    <tr>
      <th>Travel Authorization Form Item ID</th>
      <th>Travel Authorization Form ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taf_line_items.each do |taf_line_item| %>
      <tr>
        <td><%= taf_line_item.taf_item_id %></td>
        <td><%= taf_line_item.taf_id %></td>
        <td><%= link_to 'Show', taf_line_item %></td>
        <td><%= link_to 'Edit', edit_taf_line_item_path(taf_line_item) %></td>
        <td><%= link_to 'Destroy', taf_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taf Line Item', new_taf_line_item_path %>
