<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @taf_line_item.item %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @taf_line_item.cart %>
</p>

<%= link_to 'Edit', edit_taf_line_item_path(@taf_line_item) %> |
<%= link_to 'Back', taf_line_items_path %>
