<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :expense_type %>
    <%= form.select :expense_type, ['Flight','Travel','Taxi','Hotel','Food','Miscellaneous','Other'] %>
  </div>
  <div class="field">
    <%= form.label :actual_expense_date %>
    <%= form.date_field :actual_expense_date %>
  </div>
  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>
   <div class="field">
    <%= form.label :department %>
   <%= form.select :department, ['Agents', 'Politicals','Research']%>
  </div>
  <div class="field">
    <%= form.label :ba_approval %>
    <%= form.check_box :ba_approval %>
  </div>
  
  <div class="field">
    <%= form.label :ba_reason %>
    <%= form.text_field :ba_reason %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
