<h1>Items</h1>
<h3>Department: <%= @dpt.name%> </h3>
<h3>Department Funds: <%= number_to_currency(@dpt.actual_funds) %></h3>
<table>
  <tfoot>
    <tr>
      <td colspan="3">
       
      </td>
    </tr>
  </tfoot>

  <thead>
    <tr>
      <th> Expense Type </th>
      <th> Amount </th>
      <th> Image url </th>
      <th> BA's approval </th>
      <th> BA's reason </th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="type"><%= item.expense_type %></td>
        <td class="amount"><%= number_to_currency(item.amount) %></td>
        <td class="image">
          <% if item.image_url.present? %>
            <%=image_tag(item.image_url,class: 'list_image') %>
          <% else %>
            <%=image_tag("DEFAULT_RECEIPT.jpg",class: 'list_image') %>
          <% end %>
        </td>
        <% if current_account.accountable_type=="Employee" %>
          <td><%= item.ba_approval %></td>
          <td><%= item.ba_reason %></td>
        <% end %>
        <% if current_account.accountable_type=="BudgetApprover" %>
          <%= form_with(model: item, local: true) do |form| %>
            <td> <%= form.check_box :ba_approval %></td>
            <td> <%= form.text_field :ba_reason %> </td>
            <td> <%= form.submit %> </td>
          <% end %>
        <% else %>
        <% end %>
      <td class="actions">
          <ul>
            <% if current_account.accountable_type=="Employee" %>
              <td><%= link_to 'Show', item %></td>
              <td><%= link_to 'Edit', edit_item_path(item) %></td>
              <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
