

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th> Report ID </th>
            <th> Expense Type </th>
            <th> Amount </th>
            <th> Department ID </th>
            <th> BA Approval </th>
            <th> BA Reason </th>
            <th> Pm approval </th>
            <th> pm reason </th>
            <th> Receipt </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
        <tr>
            <td> <%= @item.id %></li>
            <td> <%= @item.expense_type %></li>
            <td> <%= number_to_currency(@item.amount)%> </td>
            <td> <%= @item.department %></li>
            <td> <%= @item.ba_approval %></li>
            <td> <%= @item.ba_reason %></li>
            <td> <%= @item.pm_approval %></li>
            <td> <%= @item.pm_reason %></li>
            <td> <%= @item.image_url %></li>
            <% if current_account.accountable_type=="PaymentManager" %>
                <%= form_with(model: @item, local: true) do |form| %>
                    <td> <%= form.check_box :pm_approval %></td>
                    <td> <%= @item.pm_reason %></td>
                    <td> <%= form.text_field :pm_reason %> </td>
                    <td> <%= form.submit 'Updated by Payment Manager' %> </td>
            <% end %>
        <% else %>
        <% end %>
        </tr>
        
</table>       


<%= link_to 'Back', :back %>
