<table>
    <thead>
        <tr>
            <th> ID </th>
            <th> Expense Type </th>
            <th> From Department </th>
            <th> Amount </th>
            <th> Was Approved? </th>
            <th> Rejection Reason </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <% @taf_items.each do |taf_item| %>
        <tr>
            <td> <%= taf_item.id %></li>
            <td> <%= taf_item.expense_type %> </td> 
            <td> <%= taf_item.dept %> </td> 
            <td> <%= number_to_currency(taf_item.estimated_amount) %> </td>
            <td> <%= taf_item.ba_approval ? "true" : "false" %> </td>
            <td> <%= taf_item.ba_reason %> </td>        
        </tr>    
    <% end %>
</table>        
