<table class="table table-hover">

    <thead class="thead-dark">
        <tr>
            <th> TAF ID </th>
            <th> Estimated Amount </th>
            <th> Payment Manager ID </th>
            <th> Was Approved? </th>
            <th> Rejection Reason </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <% @tafs.each do |taf| %>
        <li style="display:none"> 
            <% taf.taf_items.each do |taf_item| %>
                <%= taf.total_estimated_amount+=taf_item.estimated_amount %>
            <% end %>
        </li>
        <% if taf.employee_id!=2 && taf.employee_id!=3%>
        <tr>
            <td> <%= taf.id %></li>
            <td> <%= number_to_currency(taf.total_estimated_amount)%> </td>
            <td> <%= taf.payment_manager_id %> </td> 
            <td> <%= taf.pm_approval ? "true" : "false" %> </td>
            <td> <%= taf.pm_reason %> </td>
            <td><%= link_to 'Show', taf %></td>
        </tr>
        <%end%>
    <% end %>
</table>   
<table class="table table-hover">

    <thead class="thead-dark">
        <tr>
            <th> Expense Report ID </th>
            <th> Actual Amount </th>
            <th> Payment Manager ID </th>
            <th> Was Approved? </th>
            <th> Rejection Reason </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <% @carts.each do |cart| %>
        <li style="display:none"> 
            <% cart.items.each do |item| %>
                <%= cart.total_expense+=item.amount %>
            <% end %>
        </li>
        <% if cart.employee_id!=2 && cart.employee_id!=3%>
        <tr>
            <td> <%= cart.id %></li>
            <td> <%= number_to_currency(cart.total_expense)%> </td>
            <td> <%= cart.payment_manager_id %> </td> 
            <td> <%= cart.pm_approval ? "true" : "false" %> </td>
            <td> <%= cart.pm_reason %> </td>
            <td><%= link_to 'Show', cart %></td>
        </tr>
        <%end%>
    <% end %>
</table>        