<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Your Pragmatic EXPENSE ITEMS</h1>
<ul class="catalog">
    <% cache @items do %>
        <% @items.each do |item| %>
            <% cache @item do %>
                <li>
                    
                    <h2>Report ID: <%= item.id %></h2>
                    <p>
                        <%= sanitize(item.ba_reason) %>
                    </p>
                    <div class="amount">
                        <%= number_to_currency(item.amount) %>
                        <%= button_to 'Add to Cart', line_items_path(item_id: item) %> 
                    </div>
                </li>
            <% end %>
        <% end %>
    <% end %>
<!--
    <% cache @request_items do %>
        <% @request_items.each do |item| %>
            <% cache @item do %>
                <li>
                    
                    <h2>Request_ID: <%= item.id %></h2>
                    <p>
                        <%= sanitize(item.ba_reason) %>
                    </p>
                    <div class="amount">
                        <%= number_to_currency(item.amount) %>
                        <%= button_to 'Add to Cart', line_items_path(item_id: item) %> 
                    </div>
                </li>
            <% end %>
        <% end %>
    <% end %>
-->


<!-- 
    <% cache @taf_items do %>
        <% @taf_items.each do |item| %>
            <% cache @item do %>
                <%# <% if item.ba_approval == true%> 
                <li>
                    
                    <h2>TAF_ID: <%= item.id %></h2>
                    <p>
                        <%= sanitize(item.ba_reason) %>
                    </p>
                    <div class="amount">
                        <%= number_to_currency(item.estimated_amount) %>
                        <%# <%= button_to 'Add to Cart', line_items_path(item_id: item) %> 
                        <%= link_to 'Accept', { :controller => "taf_line_items",
                                                :action => "decision",
                                                :id => item.id,
                                                :decision => "true"}, method: 'post', class: "btn btn-sm btn-success" %>
                    </div>
                </li>
                <%# <% else %> 
                <%# <% end %> 

                <% if item.ba_approval == true %>
                <li>
                    
                    <h2>TAF_ID: <%= item.id %></h2>
                    <p>
                        <%= sanitize(item.ba_reason) %>
                    </p>
                    <div class="amount">
                        <%= number_to_currency(item.estimated_amount) %>
                        <%# <%= button_to 'Add to Cart', line_items_path(item_id: item) %> 
                        <%= link_to 'Accept', { :controller => "taf_items",
                                                :action => "decision",
                                                :id => item.id,
                                                :decision => "true"}, method: 'post', class: "btn btn-sm btn-success" %>
                    </div>
                </li>
                <% else %> 
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</ul>
-->
