<p id="notice"><%= notice %></p>

<h1>Request Items</h1>

<table>
  <thead>
    <tr>
      <th>Expense type</th>
      <th>Amount</th>
      <th>Reason</th>
      <th>Ba approval</th>
      <th>Ba reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_items.each do |request_item| %>
      <tr>
        <td><%= request_item.expense_type %></td>
        <td><%= request_item.amount %></td>
        <td><%= request_item.reason %></td>
        <td><%= request_item.ba_approval %></td>
        <td><%= request_item.ba_reason %></td>
        <td><%= link_to 'Show', request_item %></td>
        <td><%= link_to 'Edit', edit_request_item_path(request_item) %></td>
        <td><%= link_to 'Destroy', request_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request Item', new_request_item_path %>
