<!DOCTYPE html>
<html>
  <head>
    <title>Company</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <%= image_tag '', alt: 'The Pragmatic FORM ITEMS' %>
      <h1><%= @page_title %></h1>
    </header>
      <section class="content">
        <nav class="side_nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Report Items</a></li>
            <li><a href="/line_items">Report Line Items</a></li>
            <li><a href="/carts">Expense Reports</a></li>
            <li><a href="/taf_items">TAF_Items</a></li>
            <li><a href="/taf_line_items">TAF_Line_Items</a></li>
            <li><a href="/tafs">TAFs</a></li>
          </ul>
        </nav>

      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
